[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=uwsgi --http :8000 --home /home/ubuntu/venv/ --chdir /srv/Certune_Django-Server/ -w mycutter.wsgi

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target